# Grundgerüst Leistungsausweis
Dieses Notebook soll euch als Grundgerüst für euren Leistungsnachweis dienen. Es soll euch eine Idee/ Hilfestellung bieten, wie man einen neuen Datensatz, basierend auf einer Fragestellung, strukturiert analysieren und interpretieren kann. Wie besagt, dient das Notebook als Hilfestellung, ist jedoch keinenfalls vollständig ausgeschöpft. In diesem Sinne dürft ihr auch gerne Sachen miteinbeziehen, welche hier nicht genannt werden. 

-> Bitte schreibt die Antwort zu den jeweiligen Punkten an oberster Stelle unterhalb der Titel (so wie dies auch im Leistungsnachweisbeispiel gemacht wurde).


## Struktur
1. Fragestellung(en) und Datenbeschaffung
2. Daten laden
3. Daten vorbereiten
4. Statistik der Rohdaten (Generell im Longformat)
5. Analyse der Daten

**Wichtig:** Alle graphischen Darstellungen sollten mindestens *Titel, Ticks- und Achsenbeschriftung* beinhalten (Siehe plots im Leistungsnachweisbeispiel)

---

## 1. Fragestellung(en) und Datenbeschaffung
### 1.1 Titel: 
- "Entwicklung der Todesursachen in den beiden Ländern Schweiz und Türkei zwischen den Jahren 1990 und 2016"
### 1.2 Fragestellung:
- "Eure Fragestellung"   
### 1.3 Datenquelle(n):
Beispiele für mögliche Datenquellen:
- https://ourworldindata.org
- https://healthdata.gov/
- https://www.who.int/data/collections
- https://www.kaggle.com/datasets?tags=4202-Healthcare

### 1.4 Daten beschaffen und laden

In [1]:
!pip install matplotlib

Collecting matplotlib
  Downloading matplotlib-3.10.7-cp313-cp313-win_amd64.whl.metadata (11 kB)
Collecting contourpy>=1.0.1 (from matplotlib)
  Downloading contourpy-1.3.3-cp313-cp313-win_amd64.whl.metadata (5.5 kB)
Collecting cycler>=0.10 (from matplotlib)
  Downloading cycler-0.12.1-py3-none-any.whl.metadata (3.8 kB)
Collecting fonttools>=4.22.0 (from matplotlib)
  Downloading fonttools-4.61.0-cp313-cp313-win_amd64.whl.metadata (115 kB)
Collecting kiwisolver>=1.3.1 (from matplotlib)
  Downloading kiwisolver-1.4.9-cp313-cp313-win_amd64.whl.metadata (6.4 kB)
Requirement already satisfied: numpy>=1.23 in c:\users\hanna\miniconda3\lib\site-packages (from matplotlib) (2.3.5)
Requirement already satisfied: packaging>=20.0 in c:\users\hanna\miniconda3\lib\site-packages (from matplotlib) (25.0)
Collecting pillow>=8 (from matplotlib)
  Downloading pillow-12.0.0-cp313-cp313-win_amd64.whl.metadata (9.0 kB)
Collecting pyparsing>=3 (from matplotlib)
  Downloading pyparsing-3.2.5-py3-none-any.whl.metadata (5.0 kB)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\hanna\miniconda3\lib\site-packages (from matplotlib) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in c:\users\hanna\miniconda3\lib\site-packages (from python-dateutil>=2.7->matplotlib) (1.17.0)
Downloading matplotlib-3.10.7-cp313-cp313-win_amd64.whl (8.1 MB)
   ---------------------------------------- 0.0/8.1 MB ? eta -:--:--
   --------------- ------------------------ 3.1/8.1 MB 16.4 MB/s eta 0:00:01
   ---------------------------------- ----- 7.1/8.1 MB 17.4 MB/s eta 0:00:01
   ---------------------------------------- 8.1/8.1 MB 15.6 MB/s eta 0:00:00
Downloading contourpy-1.3.3-cp313-cp313-win_amd64.whl (226 kB)
Downloading cycler-0.12.1-py3-none-any.whl (8.3 kB)
Downloading fonttools-4.61.0-cp313-cp313-win_amd64.whl (2.3 MB)
   ---------------------------------------- 0.0/2.3 MB ? eta -:--:--
   ---------------------------------------- 2.3/2.3 MB 19.1 MB/s eta 0:00:00
Downloading kiwisolver-1.4.9-cp313-cp313-win_amd64.whl (73 kB)
Downloading pillow-12.0.0-cp313-cp313-win_amd64.whl (7.0 MB)
   ---------------------------------------- 0.0/7.0 MB ? eta -:--:--
   ------------------------------- -------- 5.5/7.0 MB 27.5 MB/s eta 0:00:01
   ---------------------------------------- 7.0/7.0 MB 21.2 MB/s eta 0:00:00
Downloading pyparsing-3.2.5-py3-none-any.whl (113 kB)
Installing collected packages: pyparsing, pillow, kiwisolver, fonttools, cycler, contourpy, matplotlib

   ---------------------------------------- 0/7 [pyparsing]
   ----- ---------------------------------- 1/7 [pillow]
   ----- ---------------------------------- 1/7 [pillow]
   ----- ---------------------------------- 1/7 [pillow]
   ----- ---------------------------------- 1/7 [pillow]
   ----- ---------------------------------- 1/7 [pillow]
   ----------------- ---------------------- 3/7 [fonttools]
   ----------------- ---------------------- 3/7 [fonttools]
   ----------------- ---------------------- 3/7 [fonttools]
   ----------------- ---------------------- 3/7 [fonttools]
   ----------------- ---------------------- 3/7 [fonttools]
   ----------------- ---------------------- 3/7 [fonttools]
   ----------------- ---------------------- 3/7 [fonttools]
   ----------------- ---------------------- 3/7 [fonttools]
   ----------------- ---------------------- 3/7 [fonttools]
   ----------------- ---------------------- 3/7 [fonttools]
   ----------------- ---------------------- 3/7 [fonttools]
   ----------------- ---------------------- 3/7 [fonttools]
   ----------------- ---------------------- 3/7 [fonttools]
   ----------------- ---------------------- 3/7 [fonttools]
   ----------------- ---------------------- 3/7 [fonttools]
   ---------------------------------- ----- 6/7 [matplotlib]
   ---------------------------------- ----- 6/7 [matplotlib]
   ---------------------------------- ----- 6/7 [matplotlib]
   ---------------------------------- ----- 6/7 [matplotlib]
   ---------------------------------- ----- 6/7 [matplotlib]
   ---------------------------------- ----- 6/7 [matplotlib]
   ---------------------------------- ----- 6/7 [matplotlib]
   ---------------------------------- ----- 6/7 [matplotlib]
   ---------------------------------- ----- 6/7 [matplotlib]
   ---------------------------------- ----- 6/7 [matplotlib]
   ---------------------------------- ----- 6/7 [matplotlib]
   ---------------------------------- ----- 6/7 [matplotlib]
   ---------------------------------- ----- 6/7 [matplotlib]
   ---------------------------------- ----- 6/7 [matplotlib]
   ---------------------------------- ----- 6/7 [matplotlib]
   ---------------------------------- ----- 6/7 [matplotlib]
   ---------------------------------- ----- 6/7 [matplotlib]
   ---------------------------------- ----- 6/7 [matplotlib]
   ---------------------------------- ----- 6/7 [matplotlib]
   ---------------------------------- ----- 6/7 [matplotlib]
   ---------------------------------- ----- 6/7 [matplotlib]
   ---------------------------------- ----- 6/7 [matplotlib]
   ---------------------------------- ----- 6/7 [matplotlib]
   ---------------------------------------- 7/7 [matplotlib]

Successfully installed contourpy-1.3.3 cycler-0.12.1 fonttools-4.61.0 kiwisolver-1.4.9 matplotlib-3.10.7 pillow-12.0.0 pyparsing-3.2.5

In [3]:
# lade deine Bibliotheken -> Pandas, Seaborn, Matplotlib sind die wichtigsten für diese Aufgaben

import pandas as pd
from matplotlib import pyplot as plt

In [7]:
df = pd.read_csv('share-of-deaths-from-major-causes.csv', skiprows=1,
                 names=['Entity','Code','Year','Diseases']) 
df.head()

                                                                                                                                                                       Entity  \
Albania ALB 1987 3.884336 2.447189 2.972411 0.888838 0.675286 1.569895 12.541844 2.129747 10.931548 36.869446 0.069260 0.000000 0.854208 0.150063 0.571396 0.842664  0.357844
            1988 3.716784 2.095756 3.108898 0.937880 0.648411 1.765762 10.745093 2.176808 12.597696 38.134663 0.057894 0.000000 0.665779 0.162103 0.636832 0.955248  0.254733
            1989 3.682096 2.999615 2.873025 0.897132 0.754032 1.375970 12.840552 2.399692 11.321482 37.420883 0.027519 0.000000 0.682481 0.187132 0.473334 0.979691  0.132093
            1992 3.364660 1.908574 2.807750 1.044205 1.026801 1.456085 11.822718 2.558301 10.436246 36.668987 0.139227 0.000000 0.893375 0.058011 0.458290 1.061608  0.116023
            1993 3.551896 2.548230 3.347557 1.153916 1.664764 0.841397 12.783220 3.816335 9.862371  35.597090 0.330549 0.276459 0.853417 0.096160 0.619028 1.899153  0.204339

                                                                                                                                                                         Code  \
Albania ALB 1987 3.884336 2.447189 2.972411 0.888838 0.675286 1.569895 12.541844 2.129747 10.931548 36.869446 0.069260 0.000000 0.854208 0.150063 0.571396 0.842664  3.503405
            1988 3.716784 2.095756 3.108898 0.937880 0.648411 1.765762 10.745093 2.176808 12.597696 38.134663 0.057894 0.000000 0.665779 0.162103 0.636832 0.955248  3.763098
            1989 3.682096 2.999615 2.873025 0.897132 0.754032 1.375970 12.840552 2.399692 11.321482 37.420883 0.027519 0.000000 0.682481 0.187132 0.473334 0.979691  3.847212
            1992 3.364660 1.908574 2.807750 1.044205 1.026801 1.456085 11.822718 2.558301 10.436246 36.668987 0.139227 0.000000 0.893375 0.058011 0.458290 1.061608  5.012182
            1993 3.551896 2.548230 3.347557 1.153916 1.664764 0.841397 12.783220 3.816335 9.862371  35.597090 0.330549 0.276459 0.853417 0.096160 0.619028 1.899153  5.937857

                                                                                                                                                                          Year  \
Albania ALB 1987 3.884336 2.447189 2.972411 0.888838 0.675286 1.569895 12.541844 2.129747 10.931548 36.869446 0.069260 0.000000 0.854208 0.150063 0.571396 0.842664  16.812881
            1988 3.716784 2.095756 3.108898 0.937880 0.648411 1.765762 10.745093 2.176808 12.597696 38.134663 0.057894 0.000000 0.665779 0.162103 0.636832 0.955248  15.741330
            1989 3.682096 2.999615 2.873025 0.897132 0.754032 1.375970 12.840552 2.399692 11.321482 37.420883 0.027519 0.000000 0.682481 0.187132 0.473334 0.979691  15.064120
            1992 3.364660 1.908574 2.807750 1.044205 1.026801 1.456085 11.822718 2.558301 10.436246 36.668987 0.139227 0.000000 0.893375 0.058011 0.458290 1.061608  17.542639
            1993 3.551896 2.548230 3.347557 1.153916 1.664764 0.841397 12.783220 3.816335 9.862371  35.597090 0.330549 0.276459 0.853417 0.096160 0.619028 1.899153  12.777210

                                                                                                                                                                     Diseases
Albania ALB 1987 3.884336 2.447189 2.972411 0.888838 0.675286 1.569895 12.541844 2.129747 10.931548 36.869446 0.069260 0.000000 0.854208 0.150063 0.571396 0.842664  1.927739
            1988 3.716784 2.095756 3.108898 0.937880 0.648411 1.765762 10.745093 2.176808 12.597696 38.134663 0.057894 0.000000 0.665779 0.162103 0.636832 0.955248  1.835234
            1989 3.682096 2.999615 2.873025 0.897132 0.754032 1.375970 12.840552 2.399692 11.321482 37.420883 0.027519 0.000000 0.682481 0.187132 0.473334 0.979691  2.041939
            1992 3.364660 1.908574 2.807750 1.044205 1.026801 1.456085 11.822718 2.558301 10.436246 36.668987 0.139227 0.000000 0.893375 0.058011 0.458290 1.061608  1.624318
            1993 3.551896 2.548230 3.347557 1.153916 1.664764 0.841397 12.783220 3.816335 9.862371  35.597090 0.330549 0.276459 0.853417 0.096160 0.619028 1.899153  1.478454

In [14]:
import pandas as pd 
df = pd.read_csv('share-of-deaths-from-major-causes.csv') 
df

,Entity,Code,Year,Share of total deaths in both sexes in those aged all ages that are from digestive diseases,Share of total deaths in both sexes in those aged all ages that are from infectious and parasitic diseases,Share of total deaths in both sexes in those aged all ages that are from respiratory diseases,"Share of total deaths in both sexes in those aged all ages that are from diabetes mellitus, blood and endocrine disorders",Share of total deaths in both sexes in those aged all ages that are from intentional injuries,Share of total deaths in both sexes in those aged all ages that are from perinatal conditions,Share of total deaths in both sexes in those aged all ages that are from respiratory infections,...,Share of total deaths in both sexes in those aged all ages that are from ill-defined injuries,Share of total deaths in both sexes in those aged all ages that are from musculoskeletal diseases,Share of total deaths in both sexes in those aged all ages that are from congenital anomalies,Share of total deaths in both sexes in those aged all ages that are from maternal conditions,Share of total deaths in both sexes in those aged all ages that are from nutritional deficiencies,Share of total deaths in both sexes in those aged all ages that are from other neoplasms,Share of total deaths in both sexes in those aged all ages that are from skin diseases,Share of total deaths in both sexes in those aged all ages that are from unintentional injuries,Share of total deaths in both sexes in those aged all ages that are from ill-defined diseases,Share of total deaths in both sexes in those aged all ages that are from genitourinary diseases
0,Albania,ALB,1987,3.884336,2.447189,2.972411,0.888838,0.675286,1.569895,12.541844,...,0.069260,0.000000,0.854208,0.150063,0.571396,0.842664,0.357844,3.503405,16.812881,1.927739
1,Albania,ALB,1988,3.716784,2.095756,3.108898,0.937880,0.648411,1.765762,10.745093,...,0.057894,0.000000,0.665779,0.162103,0.636832,0.955248,0.254733,3.763098,15.741330,1.835234
2,Albania,ALB,1989,3.682096,2.999615,2.873025,0.897132,0.754032,1.375970,12.840552,...,0.027519,0.000000,0.682481,0.187132,0.473334,0.979691,0.132093,3.847212,15.064120,2.041939
3,Albania,ALB,1992,3.364660,1.908574,2.807750,1.044205,1.026801,1.456085,11.822718,...,0.139227,0.000000,0.893375,0.058011,0.458290,1.061608,0.116023,5.012182,17.542639,1.624318
4,Albania,ALB,1993,3.551896,2.548230,3.347557,1.153916,1.664764,0.841397,12.783220,...,0.330549,0.276459,0.853417,0.096160,0.619028,1.899153,0.204339,5.937857,12.777210,1.478454
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4999,Venezuela,VEN,2012,3.948355,4.238049,3.532383,7.611066,7.291660,3.352759,3.429066,...,6.382734,0.338315,1.669289,0.280916,0.348444,1.547739,0.008103,6.769669,0.482824,1.671990
5000,Venezuela,VEN,2013,4.135418,4.172783,3.618324,8.179428,6.415970,3.252689,3.855187,...,6.403294,0.358963,1.618671,0.273559,0.404334,1.559956,0.008007,6.554752,0.405669,1.794817
5001,Venezuela,VEN,2014,4.261527,4.532922,3.847032,8.811719,6.104549,3.191365,3.887741,...,5.569159,0.347880,1.525983,0.302236,0.415729,1.405089,0.016037,5.793678,0.519352,1.912105
5002,Venezuela,VEN,2015,3.902340,4.663077,3.829238,8.167219,6.962522,3.447681,4.132939,...,5.915320,0.356001,1.508398,0.394632,0.494479,1.556538,0.011292,4.862176,1.851324,1.756826
5003,Venezuela,VEN,2016,4.090322,5.201760,3.589466,7.471886,7.974317,3.562166,4.430001,...,5.561389,0.352279,1.561368,0.517656,0.784884,1.236914,0.008400,4.377501,2.171950,1.841196

## 2. Daten vorbereiten 
- Welches Format hat mein Datensatz bzw. wie sind meine Kolumnen strukturiert?
- Welches Format kann ich für welche Teilschritte verwenden (wann soll ich pivot bzw. wide format verwenden)?
- Welche Datentypen kommen in meinem Datensatz vor?

## 3. Statistik der Rohdaten (Analyse im Long-Format)
- Ist meine Variable kontinuierlich oder diskret? Falls diskret, wieviele einzigartige Klassen gibt es? Wieviele Datenpunkte pro Klasse sind vorhanden?
- Anzahl Datenpunkte (Beschreibend und Graphische Darstellung)
    - Wieviele Datenpunkte sind für die bestimmten Variabeln vorhanden?
    - Wo fehlen Datenpunkte?
- Wie ist die Verteilung der zu untersuchenden Variabel(n) (Histogram, Boxplot, Säulendiagram)
- Vermutest du Zusammenhänge zwischen zwei Variabeln (Streuungsdiagramm, Korrelationsmatrix)

*Notiz: Zu jeder Kolumne sollte generell eine Aussage möglich sein.*

## 4. Analyse 

### Vorgehen
- Spezifische Untersuchung der Fragestellung (Berechnungen)
- Visualisieren der Resultate: Verwendet Achsenbeschriftung und überlegt euch, welche Art von Darstellung sinnvoll ist (Kuchen-, Säulen, Liniendiagramm; 2 y-Achsen?)
- Beschreiben der Beobachtungen
- Interpretation der Resultate (Hypothesen zu den Resultaten)
- Untermauern der Interpretation mittels Hinweise zur Literatur (Mögliche Zusammenhänge aufzeigen).